[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
unittest-data-provider = "*"
mock = "*"
docker = "*"

[packages]
tornado = ">=5.1,<6.0"
pytz = "*"
whois = "*"
ovh = "*"
python-dateutil = "*"
psutil = "*"
